.main_message
  .main_message__header
    .main_message__header__a
    .main_message__header__b
    -#   follow me!
    -# =link_to "https://www.facebook.com/", class: "contents__btn" do
  .main_message__content