.main_message
  .form
    %form.main_message__form__header
      %input{type:'text', class:'text', placeholder:'type a message'}
      %input{type:'submit', class:'submit-btn'}
      %input{type:'text_area', class:'message-text', placeholder:'type a message'}