.main_message
  .form
    = form_for @memo do |f|
      = f.text_area :content, class: 'message-text', placeholder: '本文'
      .form_form
        = f.text_field :title, class:'text', placeholder: '題名'
        .form_form_form
          = f.submit '保存', class: 'submit-btn'
          .sukujo
            削除
          
  